
$lightBlue: #C9D6E3;
$darkBlue: #0F1733;
$hoverColor: #6f7ba8;
$blue: #566B9D;
$Black: #000;

$star: rgb(165, 190, 195);

$darkBackground: #0F0F0F;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');