@import '@/styles/constStyle.scss';

.footer {    
    width: 100%;

    padding: 50px 0 10px 0;

    background: $darkBlue;
}

._flex {
    flex-wrap: wrap;
    gap: 2.5vh 0
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2.5vh 0
}